* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:
    'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  height: 50vh;
  border: 1px solid red;
}

button {
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  padding: 2em;
  border: none;
  background: darkgreen;
}

p {
  font-weight: 500;
}
